:root{
    --index: calc(1vw + 1vh);
    --transition: 1s cubic-bezier(.05, .5, 0, 1);
}


.header{
    perspective: 800px;
    
    overflow: hidden;

    &__container{
        min-height: 500px;
        height: 100vh;

        transform-style: preserve-3d;
        transform: rotateX(var(--move-y)) rotateY(var(--move-x));
        will-change: transform;
        transition: transform var(--transition);
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        inset: -5vw;
    }

    &__content{
        margin-top: calc(var(--index) * 5.5);
        
        font-size: calc(var(--index) * 1.25);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: calc(var(--index) * .05);
        line-height: 1.35em;
    }

    &__title, &__desc{
        margin-bottom: 40px;
        
        max-width: 1000px;
        width: 100%;
        
        color: white;
        font-family: $font-mon;

        cursor: default;

        @include media($xs){
            max-width: 250px;
        }
    }

    &__desc{
        letter-spacing: normal;
        font-size: calc(var(--index) * .6);
    }
}

.layer-1{
    background: url(../../assets/img/x2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    filter: blur(7px);
    
    transform: translateZ(0) scale(1.3);
}

.layer-2{
        background: url(../../assets/img/x7.png);

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        animation: anim 360s linear infinite;

        overflow: hidden;

        transform: translateZ(100px);
        opacity: .35;
    }

    @keyframes anim {
        0%{ 
            background-position: 0px; 
        }

        100%{ 
            background-position: 5440px;
        }
}

.layer-3{
    display: flex;
    flex-direction: column;
    gap: 100px;
    transform: translateZ(120px);
}
.layer-4{
    transform: translateZ(10px);
}

.navi{

    &__menu{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    
        color: white;

        @include media($lg){
            gap: 50px;
        }

        @include media($md){
            gap: 25px;
        }

        @include media($xs){
            gap: 10px;
        }
    }

    &__link{
        position: relative;
        display: block;
        
        padding: 5px 0;
        
        color: rgba(255, 255, 255, 0.5);
        font-size: calc(var(--index) * .9);
        font-family: $font-mon;
        text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.377);
        
        transition: .5s;

        &:hover, &.active{
            color: #fff;
            text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.979);

            &::after{
                width: 100%;

                left: 0;
            }
        }

        &::after{
            content: '';
    
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
        
            width: 0;
            height: 1px;
            margin: 0 auto;
        
            background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, #ccc, #999, #ccc);
            border-radius: 20%;
        
    
            transition: .2s;
    
            @include media($sm){
                margin: auto 0;
                top: 0;
                left: 5px;
            }
        }
    }

}

